/*Encabezado*/

.DivTitle{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 10px;
    margin-bottom: 20px;
}

.Title {
    text-align: center;
    width: 100%;
    justify-content: space-around;
}

.Img{
    height: 40px;
    width: 40px;
    margin-left: 10px;
}

/*Botones*/

.Button:hover {
    cursor: pointer; 
    transform: scale(1.15);
}

.Button{
    background-color: #5FCAD1;
    border: 0;
    border-radius: 3px;
    font-family: 'Lexend Deca', sans-serif;
    color: white;
    box-shadow:        
    inset 0 -3em 3em rgba(0,0,0,0.1),
    0.1em 0.2em 0.4em rgba(0,0,0,0.5);
    padding: 8px;
    font-size: 15px;
}

.DivButtons{
    justify-content: space-between;
    display: flex;
    min-width: 30vh;
    margin-block: 2vh;
    margin-inline: 8vw;
    align-items: center;
    flex-wrap: wrap;
}